.lead__title {
  margin: 0 auto;
  max-width: 720px;
  color: #fff;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    margin: 0 16px 0;
    font-size: 40px;
    line-height: 44px;
  }
}