.cover__item {
  max-width: 1184px;
  min-height: 740px;
  margin: 92px auto 0;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../../images/cover-trains.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.cover__item::before {
  height: 100%;
  width: 100%;
  position: absolute;
  content: '';
  background: rgba(42, 44, 47, 0.3);
  z-index: -1;
  transition: 0.4s;
}

.cover__item:hover::before {
  background: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1279px){
  .cover__item {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px){
  .cover__item {
    margin-top: 90px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px){
  .cover__item {
    margin-top: 66px;
    min-height: 200px;
  }
}